.app-container {
  border: 2px solid black;
  border-radius: 5%;
  padding: 3em;
  margin: auto;
  margin-top: 3em;
  width: 45em;
}

.company-finder, .company-name {
  background-color: aquamarine;
  padding: 0.5em;
  border-radius: 5%;
  text-align: center;
  font-weight: 550;
}

.company-info {
  text-align: center;
}

.rating {
  margin: 15px;
  padding-left: 5em;
}

button {
  background-color: rgba(127, 255, 212, 0.6);
}

.delete-button {
  margin-left: 5px;
  padding: 15px;
  line-height: 5px;
}

.submit-button {
  padding: 0px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.units {
  margin-left: 28px;
}
